.parent-container{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.header-section{
    background-color: whitesmoke;
    display:  flex;
    gap: 50px;
    /* padding: 40px; */
    justify-content: center;
    align-items: center;
}
.company-name{
    font-size: 1.5rem;
    font-weight: bold;
    color: #62bbc2;
}
.utak-logo{
    width:100px;
    height: auto;
}
.add-form{
    background-color: greenyellow;
}
.form-header{
    background-color: #62bbc2;
    color:white;
    padding:10px;
    text-align: center;
    font-size: 20px;
}
.form-body{
    padding:20px;
    display: flex;
    flex-direction: column;
    gap:10px;
    height: 100%;
}
.submit-section{
    display: flex;
    justify-content: flex-end;
    gap:10px;
    padding-top: 100px;
    
}
.add-icons{
    display: flex;
    padding-top: 20px;
    align-items: center;
}
/* .menu-table{
    padding-top:20px;
} */

.menuform-drawer{
    width: 500px;
    display: flex;
    flex-direction: column;
    gap:50px;

}

.filters{
    display: flex;
    gap:10px;
    padding-bottom: 10px;
}